
<div>
<form id='workout_form' action="http://localhost:3000/test-post/" method="POST">
	<fieldset>
		<label> Name: <input type="text" name="name" size="30" required="required" maxlength="100"></label>
		<label> Reps: <input type="number" name="reps" size="10" required="required" maxlength="100"></label>
		<label> Weight: <input type="number" name="weight" size="10" required="required" maxlength="100"></label>
		<label> Date: <input type="date" name="date" size="20" required="required" maxlength="100"></label>	
		<label> lbs: <input type="number" name="name" size="10" required="required" maxlength="100"></label>	
	<input id="submitWorkout" type="submit" value="Submit" />
	</fieldset>
</form>
</div>