



<table>
	<thead> 
		<tr>
        	<th>id</th> 
        	<th>name</th> 
        	<th>reps</th> 
        	<th>weight</th> 
        	<th>date</th> 
        	<th>lbs</th> 
		</tr>   
    </thead> 
    <tbody> 
        <tr> 
            <td>"  "</td>
			<td>Turd Push</td> 
            <td>5</td> 
			<td>77</td> 
            <td>77</td> 
			<td>77</td>
			<td><button class"edit_btn">edit</button></td>      
      		<td><button class"delete_btn">delete</button></td>   
		</tr> 
    </tbody> 
</table> 

